.down-223 {
  height: 145px;
  width: 1170px;
  display: flex;
  gap: 30px;
  margin: 60px auto;
  .div-01 {
    width: 170px;
    height: 145px;
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    img {
      width: 56px;
      height: 56px;
    }
    h4 {
      font-weight: normal;

    }
  }
}