
.banner {
  display: flex;
  gap: 45px;

  ul {
    list-style: none;
    margin-top: 40px;
    padding-left: 0px;

    li {
      padding-top: 16px;
    }
  }

  .banner-left {
    display: flex;
    gap: 20px;
    width: 280px;
    height: 400px;
  }

  .banner-right {
    width: 892px;
    height: 344px;
    background-color: black;
    margin-top: 50px;

    .bnr {
      display: flex;
      margin-left: 64px;
      margin-top: 18px;
      gap: 20px;

      .left {
        width: 190px;
        gap: 24px;
        height: 50px;
        margin-top: 40px;
        display: flex;
        align-items: center;

        h3 {
          color: #FAFAFA;
          font-weight: normal;
          font-size: 14px;
        }
      }

      .h4-bnr {
        color: white;
        padding-top: 20px;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 4px;
        font-family: "Inter", serif;
        padding-bottom: 10px;
      }

      .right {
        position: relative;

        img {
          position: absolute;
          margin-bottom: 50px;
        }
      }
    }

    .nav-bnr {
      width: 110px;
      height: 14px;
      gap: 12px;
      display: flex;
      margin: 0 auto;

      div {
        height: 12px;
        width: 12px;
        background-color: #FFFFFF;
        opacity: 50%;
        border-radius: 50%;
      }

      nav {
        width: 14px;
        height: 14px;
        border: 3px solid white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        div {
          width: 10px;
          height: 10px;
          background-color: #DB4444;
          border-radius: 50%;

        }
      }
    }
  }
}