.register-container {
  width: 1307px;
  height: 781px;
  gap: 129px;
  padding-top: 60px;
  margin-bottom: 140px;
  display: flex;
}

.register-image {
  width: 805px;
  height: 781px;
}

.register-form-container {
  width: 371px;
  height: 530px;
  margin-top: 125px;
}

.register-title {
  font-size: 36px;
  font-weight: initial;
}

.register-subtitle {
  font-weight: normal;
  padding-top: 24px;
}

.register-form {
  width: 371px;
  height: 400px;
  margin-top: 47px;

  .register-input-group {
    width: 370px;
    height: 176px;

    .register-input-field {
      width: 370px;
      height: 32px;
      border-bottom: 1px solid black;
      opacity: 50%;
      margin-top: 40px;

      &:first-child {
        margin-top: 0;
      }

      input {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
      }
    }
  }
}

.register-buttons {
  width: 371px;
  height: 188px;
  margin-top: 40px;

  .register-create-account-btn {
    width: 371px;
    height: 56px;
    background-color: #db4444;
    color: white;
    border: none;
    font-weight: inherit;
    border-radius: 4px;
  }

  .register-google-btn {
    width: 371px;
    height: 56px;
    background-color: white;
    border: 1px solid black;
    font-weight: normal;
    border-radius: 4px;
    margin-top: 16px;

    h4 {
      display: flex;
      gap: 14px;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
  }

  .register-login-link {
    width: 248px;
    margin: 0 auto;
    margin-top: 34px;
    font-size: 14px;
    font-weight: normal;

    a {
      font-weight: inherit;
      margin-left: 25px;
      text-decoration: none;
      color: black;
    }
  }
}
