.Best {
  display: flex;
  margin-top: 57px;
  width: 170px;
  height: 46px;
}
.Calonka {
  width: 1170px;
  margin: 140px auto;
  height: 500px;
  display: flex;
  background-color: black;
}